<header>
    <nav class="navbar">
      <div class="nav-left">
        <span class="logo">Interview Prep</span>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/behavioral">Behavioral</a></li>
        <li><a href="/technical">Technical</a></li>
      </ul>
      <div class="toggle-btn" onclick="toggleTheme()">🌓</div>
    </nav>
  </header>
  